<!DOCTYPE html>
<html>
  <!-- need to pass the username and wtv and keep it at the top -->
    <!-- deployment : https://www.youtube.com/watch?v=uEVmD6n8Il0&ab_channel=Fireship -->
  <head>
    <title>Customers Sponsorship Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <meta name = "viewport" content = "width=device-width, initial-scale = 0, user-scalable=no"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src = "/movement/mov.js"></script>
  </head>
  <body>

    <div class = "exit">
      <a href = "/home" class = "back">Back to Home</a> 
    </div> 
    <div class = "headerss">
      <h1> username: </h1>
    </div>
    <pre id = "json-data"  style = "display:none"><%= JSON.stringify(jsonFile, null, 2) %></pre>
    <div class = "questionOne">
      <h1> What is the company/organizations name? </h1>
      <input id = "question" type = "text" placeholder = "Enter Answer"> 
      <button onclick = "returnText()" class = "next">Next</button>
    </div>
    <div class = "questionTwo" style = "display:none">
      <h1> What province in canada are you residing in? (do not type abbreviations) </h1>
      <input id = "questiontwo" type = "text" placeholder = "Enter Answer"> 
      <button onclick = "returnTextTwo()" class = "next">Next</button>
    </div>
    <div class = "questionThree" style = "display:none">
      <h1> What kind of archetype/facility is your location? </h1>
      <input id = "questionthree" type = "text" placeholder = "Enter Answer"> 
      <button onclick = "returnTextThree()" class = "next">Next</button>
    </div>
    <div class = "questionFour" style = "display:none">
      <h1> List all of the materials that you will either be replacing or upgrading during your energy savings program. (seprate each with a comma) </h1>
      <input id = "questionfour" type = "text" placeholder = "Enter Answer"> 
      <button onclick = "returnTextFour()" class = "next">Next</button>
    </div>
    <div class = "questionFive" style = "display:none">
      <h1> List all of the materials that you will either be replacing or upgrading during your energy savings program. (seprate each with a comma) </h1>
      <input id = "questionfive" type = "text" placeholder = "Enter Answer"> 
      <button onclick = "returnTextFive()" class = "next" >Next</button>
    </div>
    <div class = "questionSix" style = "display:none">
      <h1> What kind of projects will you be working on? </h1>
      <div class = "projects">
        <input type="checkbox" name="question" value="energy management" onclick="updateRetro(this)"> Energy management <br>
        <input type="checkbox" name="question" value="monitoring submetering" onclick="updateRetro(this)"> Monitoring submetering <br>
        <input type="checkbox" name="question" value="training" onclick="updateRetro(this)"> Training employees <br>
        <input type="checkbox" name="question" value="hiring" onclick="updateRetro(this)"> Hiring for an Energy management or other forms to reduce consumption <br>
        <input type="checkbox" name="question" value="iso 50001 compliance" onclick="updateRetro(this)"> ISO 50001 Compliance <br>
        <input type="checkbox" name="question" value="sensing and automation" onclick="updateRetro(this)"> Sensing and automation <br>
        <input type="checkbox" name="question" value="retrofits" onclick="updateRetro(this)"> Retrofits <br>
        <input type="checkbox" name="question" value="building envelope upgrade" onclick="updateRetro(this)"> Building envelope upgrade <br>
        <input type="checkbox" name="question" value="HVAC" onclick="updateRetro(this)"> HVAC replacement <br>
        <input type="checkbox" name="question" value="others" onclick="updateRetro(this)"> Others <br>
      </div>
      
      <button onclick = "returnTextSix()" class = "next" >Next</button>
    </div>
    <div class = "questionSeven" style = "display:none">
      <h1> Potential Sponsors</h1>
      <div class = "amounts">
        <h2 id = "amosss"></h2>
      </div>
      <div class = "question-popup2" id = "questionPopup2">
        <div class = "question-popup-content2">
            <button type="button" onclick="wegotit()" class = "noway">X</button>
            <h1> Choose a Luminous Employee to contact</h1>
            <h2> pressing on the employee will result in an automated contact with the info you provided and the sponsors info</h2>
            <div class = "profiles">
              <div class = "profile" onclick = "select(this)">
                <img src = "https://media.discordapp.net/attachments/715996959655329943/1109238554179162123/blank-profile-picture-973460_1280.webp?width=1002&height=1002"> 
                <h1 id = "nammma">Ms.Manar</h1>
                <h2>Communications</h2>
                <h2 id = "email">Contact: manar.moharam@luminousenergy.solutions</h2>
              </div>
              <div class = "profile" onclick = "select(this)">
                <img src = "https://media.discordapp.net/attachments/715996959655329943/1109238554179162123/blank-profile-picture-973460_1280.webp?width=1002&height=1002"> 
                <h1 id = "nammma">Mr.Douglas</h1>
                <h2>HR</h2>
                <h2>Contact: douglas.stewart@luminousenergy.solutions </h2>
              </div>
              <!-- the select should have osme hover effect -->
              <div class = "profile" onclick = "select(this)">
                <img src = "https://media.discordapp.net/attachments/715996959655329943/1109238554179162123/blank-profile-picture-973460_1280.webp?width=1002&height=1002"> 
                <h1 id = "nammma">Mr.Yasser</h1>
                <h2>CEO</h2>
                <h2>Contact: yasser.elyamany@luminousenergy.solutions</h2>
              </div>
            </div>  
        </div>
      </div>
      <div class = "everything">
        <div class = "results">
          <!-- this is where everything goes -->
        </div>
        <div class = "standard" id = "standard">
            <p>no sponsor has been selected</p>
        </div>
        <div class = "further" id = "further" style = "display: none">
            <button class = "collapse" id = "collapse" onclick = "colp()"> close </button>
            <h1 id = "name">Name of company</h1>
            <div class = "infoss">
              <p id = "deadline">Deadline: </p>
              <p id = "amount">Amount: </p>
            </div>

            <h2 id = "info">Information full</h2>
            <div class = "nextsteps">
            <button id="register-btn" type = "submit" onclick = "wegotit()" class = "lum"> Luminous sign up</button>
            <a id="signupLink" href = "https://github.com/"> Sign up yourself </button>

            </div>


        </div>
      </div>

    </div>
  </body>
</html>

<script>
  //loading the json file 
  var jsonDataElem = document.getElementById("json-data");
  var jsonData = JSON.parse(jsonDataElem.innerHTML);
  console.log(jsonData);

  //defining the varaibles used
  let company = "";
  let province = "";
  let archetype = "";
  let materials = "";
  let retrofits = [];
  let indexProv = [];
  let indexArch = []; 
  let indexApp = [];
  let indexRetro = [];
  let finalIndex =[]; 
  let retros = {};
  let mater = {};
  let types = {};
  let sponsorNames = [];
  let link  = []; 
  let info = []; 
  let amount = [];
  let returnSave = ''; 
  let sponsors = ''; 
  var information = {}; 
  function colp(){
    var ok = document.getElementById("further");
    ok.style.display = "none"; 
    var sd = document.getElementById("standard");
    sd.style.display = "block"; 
  }
  //first question from the user, there is nothing to process there
  function returnText() {
    const input = document.getElementById("question");
    company = input.value;
    console.log(company); 
    document.querySelector(".questionOne").style.display = "none";
    document.querySelector(".questionTwo").style.display = "block";
  }

  //getting the proviences it is in
  function returnTextTwo() {
    const input = document.getElementById("questiontwo");
    province = input.value;
    console.log(province); 
    document.querySelector(".questionTwo").style.display = "none";
    document.querySelector(".questionThree").style.display = "block";
    for(let x = 0; x < jsonData.length; x++){
      if(jsonData[x]['province(s)'] == province || jsonData[x]['province(s)'] == "all"){
        indexProv.push(x); 
      }
    }
    console.log(indexProv); 
  }

  
  function select(element){


        // Retrieve the element with id "nammma" within the selected div
    var nammmaElement = element.querySelector("#nammma");
    
    // Access the text content of the "nammma" element
    var nammmaText = nammmaElement.textContent;
    alert("We have now conacted " + nammmaText); 
    //var h1Content = element.getElementById('nammma').innerHTML;
    //alert("We have sent the information to: " + h1Content); 
  }

  //getting the facility type 
  function returnTextThree() {
    const input = document.getElementById("questionthree");
    archetype = input.value;
    console.log(archetype); 
    document.querySelector(".questionThree").style.display = "none";
    document.querySelector(".questionFour").style.display = "block";
    let types = {}; 
    for(let p = 0; p < jsonData.length; p++){
      types[p] = jsonData[p]['location elgibility'].split(",").map(str => str.trim());
    }
    console.log(types); 

    for (let item in types){
      for(let x in types[item]){
        if(types[item][x] == archetype || types[item][x] == "anyone"){
          indexArch.push(item); 
        }
      }
    }
    console.log(indexArch); 
  }

  //getting the appliances that will be used 
  function returnTextFour() {
    const input = document.getElementById("questionfour");
    materials = input.value;
    materialsList = materials.split(",").map(str => str.trim()); 
    console.log(materialsList); 
    console.log(materials); 
    document.querySelector(".questionFour").style.display = "none";
    document.querySelector(".questionFive").style.display = "block";
    for(let x = 0; x < jsonData.length; x++){
      mater[x] = jsonData[x]['applicance eligibility'].split(",").map(str => str.trim()); 
    }
    console.log(mater); 
    for(let app in materialsList){
      for(let itemTwo in mater){
        for(let xTwo in mater[itemTwo]){
          if(mater[itemTwo][xTwo] == "any" || mater[itemTwo][xTwo] == materialsList[app] || mater[itemTwo][xTwo] == "none"){
            indexApp.push(itemTwo); 
          }
        }
      }
    }
    console.log(indexApp); 
  }
  
  //getting the retrofits 
  function returnTextFive() {
    const input = document.getElementById("questionfive");
    retrofits = input.value.split(",").map(str => str.trim());
    console.log(retrofits); 
    document.querySelector(".questionFive").style.display = "none";
    document.querySelector(".questionSix").style.display = "block";
    for(let a = 0; a < jsonData.length; a++){
      retros[a] = jsonData[a]['scope list'].split(',').map(str => str.trim()); 
    }

    console.log(retros);
  }
  

  function updateRetro(checkbox) {
    if (checkbox.checked) {
      retrofits.push(checkbox.value);
    } else {
      retrofits = retrofits.filter((retrofit) => retrofit !== checkbox.value);
    }
  }
  
  function updatingRetro(){
    //what about we pass the retrofits and then it does the operation on that..?
    console.log("heyylo"); 
    console.log(retrofits); 
    console.log(retros); 
    for(let ins in retrofits){
      for(let sss in retros){
        for(let ppp in retros[sss]){
          // why is this taking so much in =>
          if((retros[sss][ppp] == "others") || (retros[sss][ppp] == retrofits[ins]) && (!indexRetro.includes(sss.toString()))){
            indexRetro.push(sss); 
          }
          indexRetro = indexRetro.filter(function(item, index) {
            return index === indexRetro.indexOf(item);
          });
        }
      }
    }
    console.log("SDFGHJKHGFGHJ"); 
    console.log(indexRetro); 
  }

  //these are the storage of the values
  function returnTextSix() {
    updatingRetro(); 
    console.log(company);
    console.log(province);
    console.log(archetype);
    console.log(materials);
    console.log(retrofits);
    document.querySelector(".questionSix").style.display = "none";
    document.querySelector(".questionSeven").style.display = "block";
    //here is where we get all of the possible places that are eligible
    //loop through the size of it all and if there are any overlaps pass it
    //ands: province and archetype
    //ors: materials and retrofits
    indexProv = indexProv.map(x => parseInt(x));
    console.log(indexProv);
    indexArch = indexArch.map(x => parseInt(x));
    console.log(indexArch);
    indexApp = indexApp.map(x => parseInt(x));
    console.log(indexApp); 
    indexRetro = indexRetro.map(x => parseInt(x));
    console.log(indexRetro); 
    finalIndex = finalIndex.map(x => parseInt(x));
    console.log(finalIndex); 

    //indexProv and indexArch are a must = 1 boom

    for(let ll = 0; ll < jsonData.length; ll++){
      if((indexProv.includes(ll) && indexArch.includes(ll)) && (indexApp.includes(ll) || indexRetro.includes(ll))){
        finalIndex.push(ll); 
      }
    }console.log(finalIndex); 

    finalSponsors();
    //now that we have those values, we can then get the values and the list 
  }
  function finalSponsors(){
    for(let b in finalIndex){
      sponsorNames[b] = jsonData[finalIndex[b]]['program_name']; 
      amount[b] = jsonData[finalIndex[b]]['amount']; 
      link[b] = jsonData[finalIndex[b]]['link']; 
      info[b] = jsonData[finalIndex[b]]['infomration']; 
    }
    console.log("HEYYY THIS IS TO TEST IT OUT"); 
    console.log(sponsorNames);
    console.log("H");  
    console.log(amount); 
    console.log(link); 
    console.log(info); 
    
    console.log(amount);
    console.log(sponsorNames); 
  
    if(amount.length == 0){
      returnSave = ""
      sponsorNames[0] = "There are no sponsors avaiable for your facility, please try again soon"; 
    }
  
    let uk = 0;
    let value = 0;
    
    for(let d in amount){
      if(amount[d] == "unknown"){
        uk++;
      }
      else{
        value += parseInt(amount[d]); 
      }
    }
  
    if(uk == amount.length){
      returnSave = "Amount is unknown"; 
    }
    else{
      returnSave = "A rough estimate of: " + value + " in CAD"; 
    }
    //include and add the returnSave onto the screen 
    var ca = document.getElementById("amosss"); 
    ca.innerHTML = "SAVINGS: " + returnSave; 


    const sizex = sponsorNames.length;
    for (let i = 0; i <= sizex; i++) {
      const myDictionary = {
        link: 'value1',
        description: 'value2', 
        amount: 'sdf' 
      };
      myDictionary.link = link[i];
      myDictionary.amount = amount[i]; 
      myDictionary.description = info[i];
      information[sponsorNames[i]] = { ...myDictionary }; 
    }
    console.log("display"); 
    console.log(sponsorNames); 
    console.log(information); 
    var names = ["hey", "bom", "funky", "twitter"];
    console.log("trying this out"); 
    console.log(information); 
    sponsorNames.forEach(function(name) {
      var info = information[name];
      console.log(info); 
      var resultDiv = document.createElement('div');
      resultDiv.className = 'result';
      resultDiv.addEventListener('click', function(event) {
        myFunction(event, info);
      });
      const resultsDiv = document.querySelector(".results");
      var imDiv = document.createElement('div');
      imDiv.className = 'im';
      var imgElement = document.createElement('img');
      imgElement.src = 'https://media.discordapp.net/attachments/715996959655329943/1107760681891139664/perspective-dice-six-faces-random-icon-2048x2048-9uct7e7b.png?width=952&height=952';
      imDiv.appendChild(imgElement);
      var infDiv = document.createElement('div');
      infDiv.className = 'inf';
      var h1Element = document.createElement('h1');
      h1Element.textContent = name;
      
     // var h2Element = document.createElement('h2');
      //h2Element.style.fontSize = "10px"; 
      //h2Element.textContent = info.description.substring(0, 200) + "...";
      infDiv.appendChild(h1Element);
      //infDiv.appendChild(h2Element);
      resultDiv.appendChild(imDiv);
      resultDiv.appendChild(infDiv);

      resultsDiv.appendChild(resultDiv);
    });
  
  }
  
  function myFunction(event, info) {
    console.log("Hello World!");
    var furtherDiv = document.getElementById("further");
    furtherDiv.style.display = "block"; 
    var sd = document.getElementById("standard");
    sd.style.display = "none"; 
    var clickedDiv = event.target.closest('.result');
    var h1Content = clickedDiv.querySelector('h1').innerHTML;
    console.log('h1 content:', h1Content);
    var h2Content = info.description;
    console.log('h2 content:', h2Content);
    
    var amounts = document.getElementById("amount");
    if(info.amount == "unknown"){
      info.amount = "Unavaliable";
    }
    amounts.innerHTML = "Amount: " + info.amount + " CAD"; 
    var h1 = document.getElementById("name");
    h1.innerHTML = h1Content;
    var h2 = document.getElementById("info");
    h2.innerHTML = h2Content;
    var signupLink = document.getElementById("signupLink");
    signupLink.href = info.link;

  }
  function wegotit() {
        event.preventDefault(); // prevent the form from submitting
        var popup = document.getElementById("questionPopup2");
        popup.style.display = popup.style.display === "none" ? "flex" : "none";

        var email = document.getElementById("email").value;
        var name = document.getElementById("name").value;
        var password = document.getElementById("password").value;
        var popupContent = document.querySelector(".question-popup-content2");
        popupContent.innerHTML = "<h1>We have received your request and will email you once accepted</h1><p>You have signed up for:</p> Email: " + document.getElementById("email").value + " Name: " + document.getElementById("name").value + "";

        console.log(email);
        console.log(name);
    }
    
    function hidePopup() {
        var popup = document.getElementById("questionPopup2");
        popup.style.display = "none";
    }
    
    window.onclick = function(event) {
        var popup = document.getElementById("questionPopup2");
        if (event.target == popup) {
            hidePopup();
        }
    }
  
  //now we process the values and give the write output
  //loop through the dictonaries and store the index of the proviences
  
</script>